@font-face {
    font-family: 'Mojave-Web';
    src: url('mojave-webfont.eot');
    src: url('mojave-webfont.eot?#iefix') format('embedded-opentype'),
         url('mojave-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sertig-Web';
    src: url('sertig-webfont.eot');
    src: url('sertig-webfont.eot?#iefix') format('embedded-opentype'),
         url('sertig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 20px Sertig-Web;
	font-weight: bold;
	color: white;
	background-color: black;
}

#badBrowser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#attribute-label {
    width: 90% !important;
    text-align: center !important;
    color: #888;
}

#badBrowser p {
    text-align: center;
    margin-top: 40%;
    font: 24px Sertig-Web;
}

#builder, #skillForm, #classForm, #componentChooser, #triggerChooser {
	width: calc(100% - 200px);
	height: 100%;
	float: left;
	overflow-y: auto;
}

#skillForm, /*#builder,*/ #componentChooser, #triggerChooser {
	display: none;
}

#skills, #classes {
	float: left;
	width: 100%;
	height: calc(100% - 45px);
	background-color: black;
	border-radius: 0;
	overflow: hidden;
}

#classes {
	display: none;
}

#main {
	height: calc(100% - 115px);
	background-color: #333;
	clear: both;
}

#small {
	height: calc(100% - 150px);
	background-color: black;
	display: none;
	padding: 20px;
	clear: both;
}

#builderSpacer {
	display: inline-block;
	width: calc(20% - 40px);
	height: 10px;
}

#tabSpacer {
	float:left;
	width: 5%;
	height: 10px;
}

#skillList, #classList  {
	float: left;
	width: 200px;
    font: 18px Sertig-Web;
    background-color: #181818;
    color: white;
    font-weight: bold;
    height: 100%;
    padding: 5px;
    border: none;
	margin: 0;
}

#skillList option, #classList option {
	border-radius: 10px;
	padding: 3px;
	padding-left: 8px;
	cursor: pointer;
}

header {
	width: 150px;
	float: left;
	height: 80px;
}

#version {
	width: calc(100% - 350px);
	float: left;
	height: 40px;
	padding: 20px;
}

h1 {
	font: 36px Mojave-Web;
	font-weight: bold;
	color: #FFAB3C;
	padding: 10px;
}

h2 {
	font: 20px Mojave-Web;
	font-weight: bold;
	padding-left: 10px;
}

h4 {
	font: 32px Mojave-Web;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	color: #0f0;
	clear: both;
}

h5 {
	float: left;
	width: 225px;
	padding: 10px 5px;
	background-color: #181818;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 5px;
	border: 2px solid #333;
	text-align: center;
	font: 24px Sertig-Web;
	font-weight: bold;
	
	transition: background-color 600ms;
}

h5:hover {
	background-color: #777;
	cursor: pointer;
}

h6 {
	clear: both;
	display: inline-block;
	width: calc(25% - 26px);
	padding: 5px 5px;
	background-color: #043;
	margin-left: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	text-align: center;
	font: 24px Sertig-Web;
	font-weight: bold;
	
	transition: background-color 600ms;
}

h6:hover {
	background-color: #666;
	cursor: pointer;
}

hr {
	clear: both;
	margin: 10px 0;
}

footer {
	width: 100%;
	height: 40px;
	background-color: black;
}

footer a {
	text-align: center;
	height: 25px;
	display: inline-block;
	width: 25%;
	color: #06C;
	padding-top: 5px;
	text-decoration: none;
	border-top: 1px solid white;
	position: absolute;
	left: 0;
	transition: background-color 600ms;
	border-left: 1px solid white;
}

footer a:hover {
	background-color: #222;
}

footer a:first-child {
	border-left: none;
}

footer #profile {
	left: 25%;
}

footer #source {
	left: 50%;
}

footer #irc {
    left: 75%;
}

input, select, textarea {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cancelButton {
	background-color: #A00;
	color: white;
	transition: background-color 600ms, color 600ms;
}

.cancelButton:hover {
	background-color: white;
	color: #A00;
}

.doneButton {
	background-color: #008966;
    border: 2px solid #004433;
	color: white;
	transition: background-color 600ms, color 600ms;
}

.doneButton:hover {
	background-color: #004433;
    border: 2px solid #002211;
}

hr {
    display: block;
    background-color: #888;
    height: 1px;
    width: 100%;
    clear: both;
}

#saveSkill {
	background-color: #375a7f;
}

#saveSkill:hover {
    background-color: #6af;
}

.ioButton {
	height: 30px;
	margin: 5px 10px;
	width: calc(100% - 20px);
	background-color: #375a7f;
	color: white;
    border: none;
	border-radius: 5px;
	font: 20px Sertig-Web;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 600ms;
}

.ioButton:hover {
	background-color: #6af;
}

.ioText {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
}

.premium {
    background-color: #033;
}

.premium:hover {
    background-color: #6aa;
}

.tab {
    position: relative;
    float: left;
    width: calc(45% - 36px);
    margin-left: 5px;
    background-color: black;
    border-bottom: none;
    margin: 5px 5px 0;
    color: white;
    padding: 3px 10px;
    font: 24px Sertig-Web;
	font-weight: bold;
    text-align: center;
	
	transition: background-color 600ms;
}

.tab {
    cursor: pointer;
    background: #008966;
}

.tab:hover {
    background-color: #FFAB3C;
}

.tabActive, .tabActive:hover {
    background-color: #fff;
    color: black;
}

.tabLeft:before {
    position: absolute;
    left: -1px;
    top: -1px;
    content: '';
    border-top: 20px solid #333;
    border-right: 20px solid transparent;
}

.tabLeft:after {
    position: absolute;
    left: -3px;
    top: -3px;
    content: '';
    border-top: 20px solid #333;
    border-right: 20px solid transparent;
}

.tabRight:before {
    position: absolute;
    right: -1px;
    top: -1px;
    content: '';
    border-top: 20px solid #333;
    border-left: 20px solid transparent;
}

.tabRight:after {
    position: absolute;
    right: -3px;
    top: -3px;
    content: '';
    border-top: 20px solid #333;
    border-left: 20px solid transparent;
}

#io {
	float: right;
	width: 200px;
}

label {
	float: left;
	text-align: right;
	width: 40%;
	padding-right: 15px;
	font: 24px Sertig-Web;
	font-weight: bold;
	padding-top: 10px;
	clear: both;
}

#skillForm input, select, #classForm input, #skillForm .byteList, #classForm .byteList {
	font: 20px Sertig-Web;
	font-weight: bold;
	background-color: #181818;
	border: 1px solid #888;
    border-top: none;
    border-right: none;
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
    padding-right: 0;
	margin: 2px 5px; 
	width: 40%;
	float: left;
}

#skillForm .grayed, #classForm .grayed {
    color: #999;
}

#skillForm .byteList, #classForm .byteList {
    width: calc(40% - 24px);
    min-height: 50px;
}

#skillForm .multilist, #classForm .multilist {
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 10px;
}

#skillForm .multilist:hover, #classForm .multilist:hover {
    background-color: red;
}

select {
	background-color: #222;
	cursor: pointer;
}

#skillForm textarea, #classForm textArea {
	font: 20px Sertig-Web;
	font-weight: bold;
	background-color: #181818;
	border: 1px solid #888;
    border-top: none;
    border-right: none;
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
	margin: 2px 5px;
	width: 40%;
	float: left;
	height: 200px;
}

textArea {
    resize: vertical;
}

#skillForm p, #classForm p {
	text-align: center;
	font: 20px Sertig-Web;
	color: #ccc;
}

#skillForm .areaLabel, #classForm .areaLabel {
}

#skillForm .attrLabel, #classForm .attrLabel {
	width: 25px;
	text-align: left;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	clear: none;
}

#skillForm .base, #classForm .base {
	width: calc(25% - 32px);
}

#skillForm .scale, #classForm .scale {
	width: calc(15% - 18px);
}

#skillForm .byteList input, #classForm .byteList input {
    width: 15px;
    margin-top: 6px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
	border: 1px solid #aaa;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: #aaa;
}

@media screen and (max-width: 599px) {
	
	#main {
		display: none;
	}
	
	#small {
		display: block;
	}
}