* {
    padding: 0;
    margin: 0;
}

a, a:visited {
    color: #0ce3ac;
    display: inline-block;
    padding: 1px 3px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

a:hover {
    color: white;
    background: #008966;
}

body {
    overflow: hidden;
    background-color: #333;
    color: White;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

/***********
 * General *
 ***********/
 
h1 {
    font-weight: bold;
    font-size: 42px;
    padding: 10px;
}

h2 
{
    font-weight: bold;
    font-size: 36px;
    padding: 10px;
}

h3 
{
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}

h4 
{
    font-size: 20px;
    padding-left: 30px;
}

header 
{
    background-color: #0d58a6;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding: 3px 10px;
    border: 2px solid #666;
}

p {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 9px;
}

table 
{
    width: 100%;
    border: 2px solid #666;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-top: none;
}

td 
{
    font-size: 18px;
    font-weight: normal;
    padding: 6px 5px;
    background-color: #222;
    border: 2px solid #666;
    border-radius: 10px;
    margin: 2px;
}

td p
{
    font-size: 18px;
    font-weight: normal;
    padding: 0;
}

ul 
{
    list-style-position: inside;
}

ul li 
{
    margin-bottom: 10px;
}

/***********
 * Classes *
 ***********/

.inline {
    display: inline-block;
}

.packageLink, .packageLink:visited, .classLink, .classLink:visited {
    color: white;
    display: block;
    margin: 2px;
    padding: 5px;
    background-color: #222;
    border: none;
    border-radius: 0;
    font-size: 18px;
    overflow: hidden;
    transition: background-color 500ms;
    cursor: pointer;
    text-decoration: none;
}

.packageLink:hover, .classLink:hover {
    background-color: #0c9;
    color: white;
    text-decoration: none;
}

.selectedPackage, .selectedPackage:visited, .selectedPackage:hover, .selectedClass, .selectedClass:visited, .selectedClass:hover {
    background-color: #008966;
    color: white;
    text-decoration: none;
    cursor: default;
}

/***************
 * Identifiers *
 ***************/

#leftPanel 
{
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
}

#packageList {
    border-bottom: 2px solid #666;
    height: calc(38% - 2px);
    overflow-x: auto;
    overflow-y: scroll;
}

#classList {
    height: 62%;
    overflow-x: auto;
    overflow-y: scroll;
}

#main 
{
    width: calc(100% - 250px);
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding-left: 250px;
    overflow-y: auto;
}

#main p 
{
    font-size: 18px;
    font-weight: normal;
}

#main code 
{
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 15px;
    display: block;
    max-width: 100%;
}

#main h4 p 
{
    padding: 3px 0;
    padding-left: 20px;
    
}